header{
    background:{
        size: auto;
        repeat: repeat;
        image: url(../https://commons.wikimedia.org/wiki/File:Map_showing_automobile_roads_from_Los_Angeles_to_Sunland,_La_Crescenta,_and_La_Canada,_1916_(AAA-SM-000042).jpg);
    }
    height: 150px;
    text-align: center;
    position: relative;
    max-width: 100%;

    span{
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        color: $white;
        text-transform: uppercase;
        font-weight: bold;
    }
}
